@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: 'Barlow', serif !important;
}

.active {
  color: #2e58ff !important;
}

a {
  color: #ee6f57;
  text-decoration: none;
}

nav {
  padding: 22px 0;
  background-color: #eff5ff;
}

nav .logo img {
  max-height: 40px;
}

nav .nav li a {
  color: #070d59;
  font-size: 1.2rem;
  font-weight: 500;
}

nav .nav li a:hover {
  color: #2e58ff !important;
}

header {
  padding: 60px 0 0;
  background-color: #eff5ff;
}

header .header_textos h6 {
  color: #070d59;
  font-size: 2.5rem;
  font-weight: 600;
}

header .header_textos h1 {
  color: #2e58ff;
  font-size: 3.5rem;
  font-weight: 600;
}

header .header_textos p {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
}

header .header_search .input_search {
  width: 50%;
  padding: 15px;
  border: none;
  border-radius: 60px;
}

header .header_photos .header_photos_woman img {
  height: 500px;
}

.box_main {
  margin: 80px 0;
}

.box_main .box_main_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.box_main .box_main_title h1 {
  position: relative;
  color: #ee6f57;
  font-size: 2rem;
  font-weight: 600;
}

.box_main .box_main_title h1:after {
  content: '';
  display: block;
  position: absolute;
  right: 25%;
  bottom: -15px;
  left: 25%;
  width: 50%;
  height: 4px;
  background-color: #ee6f57;
  border-radius: 20px;
}

.box_main .box_main_items .box_main_item {
  padding: 30px;
  margin: 0 30px;
  -webkit-box-shadow: 0px 30px 40px 0px rgba(46, 88, 255, 0.1);
          box-shadow: 0px 30px 40px 0px rgba(46, 88, 255, 0.1);
  background-color: #fff;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.box_main .box_main_items .box_main_item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.box_main .box_main_items .box_main_item:hover .link .bx-right-arrow-alt {
  left: 0;
  opacity: 1;
  width: 20px;
  visibility: visible;
}

.box_main .box_main_items .box_main_item .video {
  height: 230px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.box_main .box_main_items .box_main_item a.link {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.box_main .box_main_items .box_main_item a.link .bx-right-arrow-alt {
  position: relative;
  top: 2.5px;
  left: -20px;
  opacity: 0;
  width: 0;
  visibility: hidden;
}

.box_main .box_main_items .box_main_item .box_main_item_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box_main .box_main_items .box_main_item .box_main_item_meta .title h2 {
  color: #070d59;
  text-transform: capitalize;
}

.box_main .box_main_items .box_main_item .box_main_item_meta .clicks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.box_main .box_main_items .box_main_item .box_main_item_meta .clicks ul li button {
  border: none;
  color: #b9dcff;
  font-size: 1.5rem;
  background-color: transparent;
}

footer {
  margin-top: 180px;
  min-height: 400px;
  background-color: #070d59;
}
/*# sourceMappingURL=style.css.map */