@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$blue_1: #2e58ff;
$blue_2: #070d59;
$blue_3: #b9dcff;
$blue_4: #d1e7ff;
$white: #ffffff;
$orange: #ee6f57;
$background: #eff5ff;
$input-btn-focus-box-shadow: none;

body {
  font-family: 'Barlow', serif !important;
}

.active {
  color: $blue_1 !important;
}

a {
  color: $orange;
  text-decoration: none;
}

nav {
  padding: 22px 0;
  background-color: $background;

  .logo {
    img {
      max-height: 40px;
    }
  }

  .nav {
    li {
      a {
        color: $blue_2;
        font-size: 1.2rem;
        font-weight: 500;

        &:hover {
          color: $blue_1 !important;
        }
      }
    }
  }
}

header {
  padding: 60px 0 0;
  background-color: $background;

  .header_textos {
    margin: 60px 0 30px;
    letter-spacing: -0.2px;

    h6 {
      color: $blue_2;
      font-size: 2.5rem;
      font-weight: 600;
    }

    h1 {
      color: $blue_1;
      font-size: 3.5rem;
      font-weight: 600;
      line-height: 2.8rem;
    }

    p {
      color: #a1a1a1;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  .header_search {
    display: flex;
    position: relative;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

    .input_search {
      width: 100%;
      padding: 11px 18px;
      border: none;
      border-radius: 60px;
      font-size: 1.2rem;

      &:focus {
        border-color: none !important;
        outline-style: none !important;
      }
    }

    .btnSearch {
      position: absolute;
      right: -1px;
      width: 50px;
      height: 50px;
      border: none;
      background-color: $orange;
      border-radius: 100%;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: #ff876f;
      }

      i {
        position: relative;
        top: 2px;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }

  .header_photos {
    .header_photos_woman {
      display: flex;
      justify-content: center;

      img {
        height: 500px;
      }
    }
  }
}

.box_main {
  margin: 80px 0;

  .box_main_title {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    h1 {
      position: relative;
      color: $orange;
      font-size: 2rem;
      font-weight: 600;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 25%;
        bottom: -15px;
        left: 25%;
        width: 50%;
        height: 4px;
        background-color: $orange;
        border-radius: 20px;
      }
    }
  }

  .box_main_items {
    .box_main_item {
      padding: 30px;
      margin: 0 30px;
      box-shadow: 0px 30px 40px 0px rgba($color: $blue_1, $alpha: 0.1);
      background-color: #fff;
      border-radius: 20px;
      transition: all 0.3s ease-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);

        .link {
          .bx-right-arrow-alt {
            left: 0;
            opacity: 1;
            width: 20px;
            visibility: visible;
          }
        }
      }

      .video {
        height: 230px;
        background-color: #ddd;
        margin-bottom: 20px;
      }

      a.link {
        position: relative;
        transition: all 0.3s ease-out;

        .bx-right-arrow-alt {
          position: relative;
          top: 2.5px;
          left: -20px;
          opacity: 0;
          width: 0;
          visibility: hidden;
        }
      }

      .box_main_item_meta {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          h2 {
            color: $blue_2;
            text-transform: capitalize;
          }
        }

        .clicks {
          ul {
            display: flex;
            margin-bottom: 0;

            li {
              button {
                border: none;
                color: $blue_3;
                font-size: 1.5rem;
                background-color: transparent;
              }
            }
          }
        }

      }

    }
  }
}

footer {
  margin-top: 180px;
  min-height: 400px;
  background-color: $blue_2;
}