@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$blue_1: #2e58ff;
$blue_2: #070d59;
$blue_3: #b9dcff;
$blue_4: #d1e7ff;
$white: #ffffff;
$orange: #ee6f57;
$background: #eff5ff;

body {
  font-family: 'Barlow', serif !important;
  font-size: 1rem;
}

.active {
  color: $blue_1;
}

a {
  color: $orange;
  text-decoration: none;
}

nav {
  padding: 22px 0;
  background-color: $background;

  .logo {
    img {
      max-height: 40px;
    }
  }

  .nav {
    li {
      a {
        color: $blue_2;
        font-size: 1.2rem;
        font-weight: 500;

        &:hover,
        &.active {
          color: $blue_1 !important;
        }
      }
    }
  }
}

.search {
  display: flex;
  position: relative;
  justify-content: center;

  .input_search {
    width: 100%;
    padding: 11px 18px;
    border: none;
    font-size: 1.2rem;
    border-radius: 60px;

    &:focus {
      border-color: none !important;
      outline-style: none !important;
    }
  }

  .btnSearch {
    position: absolute;
    right: -1px;
    width: 52px;
    height: 52px;
    border: none;
    background-color: $orange;
    border-radius: 100%;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #ff876f;
    }

    i {
      position: relative;
      top: 2px;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

.clicks {
  ul {
    display: flex;
    margin-bottom: 0;

    li {
      button {
        border: none;
        color: $blue_3;
        font-size: 1.5rem;
        background-color: transparent;

        &:hover {
          color: $blue_1;
        }

        &:active {
          color: $blue_1;
        }
      }
    }
  }
}

.box_selection {
  padding: 30px;
  margin: 0 30px;
  box-shadow: 0px 30px 40px 0px rgba($color: $blue_1, $alpha: 0.1);
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);

    .link {
      .bx-right-arrow-alt {
        left: 0;
        opacity: 1;
        width: 20px;
        visibility: visible;
      }
    }
  }

  .video {
    height: 230px;
    background-color: #ddd;
    margin-bottom: 20px;
  }

  a.link {
    position: relative;
    transition: all 0.3s ease-out;

    .bx-right-arrow-alt {
      position: relative;
      top: 2.5px;
      left: -20px;
      opacity: 0;
      width: 0;
      visibility: hidden;
    }
  }

  .box_selection_meta {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      h2 {
        color: $blue_2;
        text-transform: capitalize;
      }
    }
  }

}

header {
  padding: 60px 0 0;
  background-color: $background;

  .header_textos {
    margin: 60px 0 30px;
    letter-spacing: -0.2px;

    h6 {
      color: $blue_2;
      font-size: 2.5rem;
      font-weight: 600;
    }

    h1 {
      color: $blue_1;
      font-size: 3.5rem;
      font-weight: 600;
      line-height: 2.8rem;
    }

    p {
      color: #a1a1a1;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  .header_search {
    width: 60%;
    @extend .search;
  }

  .header_photos {
    position: relative;

    .header_photos_woman {
      display: flex;
      position: relative;
      justify-content: center;

      img {
        z-index: 6;
        height: 460px;
      }
    }

    .header_photos_woman_circles {
      display: flex;
      position: absolute;
      bottom: 218px;
      left: 300px;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease-in-out;

      .circle {
        position: absolute;
        border-radius: 100%;
      }

      .moveCirce {
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }

      .circle_1 {
        z-index: 3;
        width: 300px;
        height: 300px;
        background-color: $blue_1;
        animation-name: moveCircleIn_1;
        @extend .moveCirce;
        @extend .circle;

        @keyframes moveCircleIn_1 {
          from {
            transform: translate(0, 0);
          }

          50% {
            transform: translate(10px, 20px);
          }

          to {
            transform: translate(0, 0);
          }
        }
      }


      .circle_2 {
        z-index: 2;
        width: 360px;
        height: 360px;
        background-color: $blue_3;
        animation-name: moveCircleIn_2;
        @extend .circle;
        @extend .moveCirce;

        @keyframes moveCircleIn_2 {
          from {
            transform: translate(0, 0);
          }

          50% {
            transform: translate(-10px, -20px);
          }

          to {
            transform: translate(0, 0);
          }
        }
      }

      .circle_3 {
        z-index: 1;
        width: 420px;
        height: 420px;
        background-color: $blue_4;
        animation-name: moveCircleIn_3;
        @extend .circle;
        @extend .moveCirce;

        @keyframes moveCircleIn_3 {
          from {
            transform: translate(0, 0);
          }

          50% {
            transform: translate(20px, 10px);
          }

          to {
            transform: translate(0, 0);
          }
        }
      }
    }
  }
}

.box_main {
  margin: 80px 0;

  .box_main_title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    h1 {
      position: relative;
      color: $orange;
      font-size: 2rem;
      font-weight: 600;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 25%;
        bottom: -15px;
        left: 25%;
        width: 50%;
        height: 4px;
        background-color: $orange;
        border-radius: 20px;
      }
    }
  }
}

.box_palabras {
  min-height: 50vh;

  .box_palabras_search {
    width: 400px;
    margin: 60px auto;
    @extend .search;

    .input_search {
      border: 1px solid $blue_4;
    }
  }

  .box_palabras_alpha {
    margin-bottom: 40px;

    ul {
      display: flex;
      justify-content: center;
      gap: 20px;

      li {
        a {
          color: rgb(199, 199, 199);
          font-size: 1.2rem;

          &:hover,
          &.active {
            color: $blue_1;
            font-weight: 600;
          }
        }
      }
    }
  }

  .box_palabras_selections {
    .col-4 {
      margin-bottom: 60px;
    }
  }
}

.box_palabra_detalle {
  width: 100%;

  .box_palabra_detalle_titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 60px auto;
    justify-items: center;

    .sintaxis,
    .title,
    .clicks {
      display: flex;
      justify-content: center;
    }

    .sintaxis {
      p {
        padding: 4px 20px;
        color: $blue_1;
        font-weight: 600;
        background-color: $blue_4;
        border-radius: 100px;
      }
    }

    .title {
      h1 {
        color: $blue_2;
        font-weight: 800;
      }
    }
  }

  .box_palabra_detalle_definition {
    margin-bottom: 60px;

    .title {
      position: relative;

      h3 {
        display: inline-block;
        color: $blue_2;
        font-weight: 600;
        padding-bottom: 20px;
        background-color: #fff;
        padding-right: 20px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          top: 20px;
          right: 0;
          width: 100%;
          border: 1px dashed #e9e9e9;
        }
      }

    }
  }

  .note {
    ul {
      li {
        position: relative;
        list-style-position: inside;
        margin-left: 20px;

        span {
          position: absolute;
          top: -2px;
          left: -20px;
          color: $blue_2;
          font-size: 1.6rem;
          font-weight: 600;
        }
      }
    }
  }

  .ejemplo {
    ul {
      li {
        position: relative;
        margin-left: 20px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 8px;
          left: -20px;
          width: 8px;
          height: 8px;
          border-radius: 100px;
          background-color: $blue_3;
        }

        p {
          color: #9a9a9a;
          font-style: italic;
        }
      }
    }
  }

  .list-simila {
    ul {
      display: flex;
      gap: 20px;

      li {
        text-transform: capitalize;
      }
    }
  }

  .sinonimos {
    ul {
      li {
        padding: 2px 18px;
        color: #28C76F;
        font-weight: 500;
        background-color: #E5F8ED;
        border-radius: 100px;
      }
    }
  }

  .antonimos {
    ul {
      li {
        padding: 2px 18px;
        color: #EA5455;
        font-weight: 500;
        background-color: #FDEAEA;
        border-radius: 100px;
      }
    }
  }

  .video {
    .lorem_video {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 260px;
      background-color: #ddd;

      .bx {
        opacity: 0.5;
        font-size: 6rem;
      }
    }
  }
}

.box_equipo {
  margin: 120px 0;

  .box_equipo_companer {
    margin-bottom: 120px;

    .box_equipo_companer_img {
      position: relative;

      .img_perfil {
        overflow: hidden;
        width: 300px;
        border-radius: 100%;

        img {
          position: relative;
          left: -20%;
        }
      }

      .circle {
        display: block;
        position: absolute;
        z-index: -1;
        width: 220px;
        height: 220px;
        background-color: $background;
        border-radius: 100%;
      }

      .circle_1 {
        top: -60px;
        right: -150px;
        @extend .circle;
      }

      .circle_2 {
        top: -60px;
        right: 150px;
        @extend .circle;
      }
    }

    .box_equipo_companer_info {
      h4 {
        color: $blue_2;
        font-weight: 700;
      }

      h5 {
        color: #a5a5a5;
        font-weight: 400;
      }

      p {
        line-height: 2.2rem;
      }

      .redes {
        .bx {
          color: $blue_1;
          font-size: 2rem;
          margin-right: 16px;

          &:hover {
            color: $blue_2;
          }
        }
      }
    }
  }
}

footer {
  padding: 40px 0;
  color: #fff;
  margin-top: 180px;
  min-height: 400px;
  background-color: $blue_2;


  .box_footer_info {

    .box_footer_info_logo {
      display: flex;
      justify-content: center;
      margin: 80px 0;

      img {
        height: 60px;
      }
    }

    .box_footer_info_menus {
      margin-bottom: 60px;

      ul {
        display: flex;
        gap: 40px;

        li {
          &::after {
            content: '|';
            position: relative;
            right: -22px;
            color: #fff;

          }

          &:last-child {
            &::after {
              display: none;
            }
          }

          a {
            color: #fff;
            font-size: 1.2rem;

            &:hover {
              color: $blue_1;
            }

          }
        }
      }
    }

    .box_footer_info_redes {
      margin-bottom: 60px;

      ul {
        gap: 40px;
        display: flex;
        justify-content: center;
        flex-direction: row;

        li {
          a {
            .circle {
              display: block;
              width: 60px;
              height: 60px;
              background-color: #fff;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              .bx {
                color: $blue_1;
                font-size: 2rem;

                &:hover {
                  color: #fff;
                }
              }

              &:hover {
                background-color: $orange;
              }
            }
          }
        }
      }
    }

  }

  .box_footer_linea {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    opacity: 0.2;
    margin-bottom: 20px;
  }

  .box_footer_copy {
    p {
      text-align: center;
    }
  }
}