@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$blue_1: #2e58ff;
$blue_2: #070d59;
$blue_3: #b9dcff;
$blue_4: #d1e7ff;
$white: #ffffff;
$orange: #ee6f57;
$background: #eff5ff;
/* Fondo */

body {
  font-family: 'Barlow', serif !important;
}

.active {
  color: $blue_1 !important;
}

a {
  text-decoration: none;
  color: $orange;
}

nav {
  padding: 22px 0;
  background-color: $background;

  .logo {
    img {
      max-height: 40px;
    }
  }

  .nav {
    li {
      a {
        color: $blue_2;
        font-size: 1.2rem;
        font-weight: 500;
        &:hover {
          color: $blue_1 !important;
        }
      }
    }
  }
}

header {
  padding: 60px 0 0;
  background-color: $background;
  .header_textos {
    h6 {
      color: $blue_2;
      font-size: 2.5rem;
      font-weight: 600;
    }
    h1 {
      color: $blue_1;
      font-size: 3.5rem;
      font-weight: 600;
    }
    p {
      color: #333;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
  .header_search {
    .input_search {
      width: 50%;
      padding: 15px;
      border: none;
      border-radius: 60px;
    }
  }
  .header_photos {
    .header_photos_woman {
      img {
        height: 500px;
      }
    }
  }
}

.box_main {
  margin: 80px 0;
  .box_main_title {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    h1 {
      position: relative;
      color: $orange;
      font-size: 2rem;
      font-weight: 600;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 25%;
        bottom: -15px;
        left: 25%;
        width: 50%;
        height: 4px;
        background-color: $orange;
        border-radius: 20px;
      }
    }
  }
  .box_main_items {
    .box_main_item {
      padding: 30px;
      margin: 0 30px;
      box-shadow:  0 0 40px rgba($color: #2e58ff, $alpha: 0.15);
      background-color: #fff;
      border-radius: 20px;
      .video {
        height: 230px;
        background-color: #ddd;
        margin-bottom: 20px;
      }
    }
    .box_main_item_meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        h2 {
          color: $blue_2;
          text-transform: capitalize;
        }
      }
      .clicks {
        ul {
          display: flex;
          margin-bottom: 0;
          li {
            button {
              border: none;
              background-color: transparent;
              color: $blue_3;
              font-size: 1.5rem;
            }
          }
        }
      }

    }
  }
}
